/* your styles go here */
.btn{
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	text-decoration: none;
	padding: 4px;
	border-color: #000000;

}
.center{
	margin: 0 auto;
    text-align: center;
	width: 800px;
}
.thumbnail img{
	border-radius: 50%;
}
.form-rounded {
border-radius: 1rem;
}
